body{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* hyeading */
.heading{
  background-color: #ff005c;
  color: white;
  width: 100%;
  margin: 0px;
  padding: 2px 10px 20px;
}

h2{
  text-align: left;
}
nav{
  text-align: right;
}

a{
  color: white;
  text-decoration: none;
  margin: auto 10px;
  }


/* name and photo */
h1{
  color: #ff005c;
}

#name{
  color: #6B7280;
}

.profile-photo{
  width: 200px;
  margin-top: 20px;
}


/* technologies here */
.middle-container-1{
  background-color: #F3F4F6;
  padding: 30px 10px;
}




/* Project Container */

.middle-container-2{
  padding: 30px 10px;
}


.projects-button{
  background-color:#ff005c;
  color: white;
  border-radius: 1.5rem;
  padding: 0.5rem;
  border: 1rem;
}

/* Blog-container */
.Blogs{
  background-color: #F3F4F6;
  padding: 30px 10px;
}

.blog-button{
  background-color: white;
  color: #ff005c;
  border-radius: 1rem;
  padding: 0.5rem;
  border: 1px solid #ff005c;
}



/* footer section */
footer{
  color: white;
  background-color: #ff005c;
  padding: 45px 10px;
}


.icontact{
  width: 30px;
  margin: auto 10px;
}



.nav-link{

}

.nav-link:hover{
  background-color:#ff005c;
  color: white;
  font-weight: bold;
}

.active{
  border: 1px solid white;
  padding: 5px;
  background-color: white;
  color: #ff005c;
  font-weight: bold;

}



/* Blogs content css */

#german-god{
  width: 30%;
}

.dog-paragraph{
  margin: auto 30%;
  text-align: justify;
}


.read_more{
  color: #ff005c;
  font-weight: bold;
}
